*{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    background-color: #081b31 ;
    color:white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-top: 4rem;
}

.choice:hover{
    
    background-color: #081b31;
    cursor: pointer;
    
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1.8rem ;
    gap:5rem;


}

#userScore, #compScore{
    font-size: 4rem;

}

#msg{
color:whitesmoke;
background-color: #081b31;
font-size: 1.5rem;
height: 2.5rem;
display: inline;
line-height: 2.5rem;
padding: 1rem;
border-radius: 1rem;
}

.msgContainer{
    margin-top: 2.5rem;
    
}
